#sFriendInput {
  padding: 20px 0px;
  text-indent: 50px;
}
/*
#relation_with .js_temp_friend_search_form
{
	margin-left : 55px;
	margin-top: 0px;
	position : absolute;
	width : 300px
}
*/
#sFriendImage {
  left: 8px;
  top: 8px;
  position: absolute;
  width: 30px;
  height: 30px;
}
.edit_friend_relation {
  margin: 10px 0px 20px 0px;
  position: relative;
}
