.warning
{
	background-color: #FFE888;
	border: 2px solid #ef9f2b;
	width: 70%;
	text-align: center;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.linkAway
{
	font-size: larger;
	text-decoration: none;
	border: 1px solid;
}

.btnSubmit
{
	font-size: small;
}