.td_center
{
	text-align: center;
}

.div_text, .div_radio
{

}

.switch_type
{
	
	margin-right: 5px;
}

#tbl_compare
{
	table-layout:fixed;
}

#tbl_compare td, #tbl_compare th
{
	text-align:center;
	width: 160px;
}

#div_compare_wrapper
{
	overflow: auto;
}

input[type=text] 
{
	width: 120px;
}

#tr_last
{
	cursor: pointer;
	line-height:30px;
	height:30px;
	font-weight:bold;
}

.th_package_title, .th_title
{
    border-bottom: 1px solid #dfdfdf;
    color: #333333;
    font-size: 16pt;
    line-height: 34px;
}

.tr_first_feature
{
	border-top: 1px solid #dfdfdf;
}

.tr_feature
{
	border-bottom: 1px solid #dfdfdf;
	height: 25px;
	line-height:25px;
}

#tr_pricing_1
{
	font-size: 14px;
    font-weight: bold;
	border-top:1px #dfdfdf solid;
	border-bottom:1px #dfdfdf solid;
}

#tr_pricing_1 td
{
	padding:5px;
}

.tdPackageDescription 
{
	padding:5px;
}

.td_feature img
{
	vertical-align: middle;
}

/* This is the first row that offers a purchase link. It displays only outside the AdminCP */
.tr_purchase_1, .tr_purchase_2
{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 50px;
	line-height: 50px;
}

#tbl_compare td.td_feature_head
{
	font-size:16px;
	text-align:left;
	padding:10px 0px 10px 0px;
}

#tbl_compare
{
 width:100%;	
}

.td_purchase_1
{
	padding:8px 0px 8px 0px;
	text-align:center;
}

.td_purchase_1 a,
.td_purchase_1 a:hover
{
	display:block;
	background:#333;
	color:#fff;
	height:32px;
	line-height:32px;
	width:50%;
	font-size:15px;
	font-weight:bold;
	margin:auto;
	text-decoration:none;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
  	border-radius:6px;	
}

.compare_admincp td
{
	border-left:1px #dfdfdf solid;
}

.compare_admincp #tbl_compare td.td_comparison_title
{
	text-align:left;	
}

.compare_admincp #tbl_compare td.td_comparison_title input
{
	width:140px;
}
	
.compare_admincp #tbl_compare td.td_feature
{
	text-align:right;
	position:relative;
}

.compare_admincp #tbl_compare td.td_feature div
{
	position:relative;
}

.compare_admincp .switch_type
{
	position:absolute;
	left:2px;
	cursor:pointer;
}

.compare_admincp .img_accept,
.compare_admincp .img_reject
{
	cursor:pointer;
}

.txt_title_new
{
	color:#AFAFAF;
}