
.music_view_total_play
{
	margin:10px 0px 0px 0px;
	font-size:14px;
	font-weight:bold;
}

.music_rate_body
{
	position:relative;	
	margin-bottom:10px;	
}

.music_rate_display
{
	position:absolute;
	right:0px;
	width:90px;
	z-index:100;	
	top:-20px;	
}