
.row_unfriend
{
	padding-top:5px;
	font-size:11px;
	display:none;
}

.row_friend_browse:hover .row_unfriend
{
	display:block;
}

.friend_row_holder
{
	position:relative;
	height:50px;
}

.friend_image
{
	position:absolute;
}

.friend_user_name
{
	margin-left:60px;	
}

.friend_user_name span.user_profile_link_span a,
.friend_user_name span.user_profile_link_span a:hover
{
	font-weight:bold;
}

.friend_action
{
	position:absolute;
	right:0px;
	top:0px;
}

.friend_action_holder
{
	position:relative;
	background:red;
	width:135px;
}

.friend_action_edit_list_holder
{	
	display:none;
	position:absolute;
	left:0px;
	top:20px;
	border-right:1px #dfdfdf solid;
}

a.friend_action_edit_list,
a.friend_action_edit_list:hover
{	
	background:url('../image/layout/friend_action_edit_list.png') no-repeat;
	display:block;
	height:25px;
	line-height:25px;
	font-weight:bold;
	width:100px;
	color:#333;
	text-decoration:none;
	margin-right:5px;
	text-indent:20px;		
	border:1px #fff solid;
}

a.friend_action_edit_list:hover
{
	background:url('../image/layout/friend_action_edit_list.png') no-repeat 0px -25px;	
	border:1px #ccc solid;
  	-moz-box-shadow:2px 2px 2px #f1f1f1;
  	-webkit-box-shadow:2px 2px 2px #f1f1f1;
  	box-shadow:2px 2px 2px #f1f1f1;	
}

a.friend_action_edit_list_active,
a.friend_action_edit_list_active:hover
{
	background:url('../image/layout/friend_action_edit_list.png') no-repeat 0px -50px;
	border:1px #000 solid;
	color:#fff;
  	-moz-box-shadow:2px 2px 2px #f1f1f1;
  	-webkit-box-shadow:2px 2px 2px #f1f1f1;
  	box-shadow:2px 2px 2px #f1f1f1;	
}

a.friend_action_delete,
a.friend_action_delete:hover
{
	position:absolute;
	right:0px;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-100px;
	background:url('../image/layout/friend_action_delete.png') no-repeat;
	top:25px;
}

a.friend_action_delete:hover
{
	background-color:#333;
}

ul.friend_action_drop_down
{
	display:none;
	position:absolute;
	z-index:10;
	background:#fff;
	border:1px #000 solid;
	border-bottom:2px #000 solid;
	width:160px;
	right:5px;
}

ul.friend_action_drop_down li a,
ul.friend_action_drop_down li a:hover
{
	display:block;
	line-height:22px;
	height:22px;
	color:#333;
	text-decoration:none;
	padding:0px 0px 0px 20px;
	position:relative;
}

ul.friend_action_drop_down li a:hover
{
	background:#333;
	color:#fff;	
}

ul.friend_action_drop_down li a.active,
ul.friend_action_drop_down li a.active:hover
{
	font-weight:bold;
}

ul.friend_action_drop_down li a.active span,
ul.friend_action_drop_down li a.active:hover span
{
	display:block;
	position:absolute;
	width:12px;
	height:12px;
	background:url('../image/layout/friend_action_drop_down_active.png');
	left:4px;
	top:6px;
}

.friend_list_holder
{
	position:relative;
	border-bottom:1px #dfdfdf solid;
	padding-bottom:10px;
	margin-bottom:10px;	
}

.friend_list_holder ul
{
	margin:0px;
	padding:0px;
}

.friend_list_holder ul li
{
	display:inline;
	padding-right:5px;
}

a.friend_list_delete,
a.friend_list_delete:hover
{
	position:absolute;
	right:0px;
}

.friend_list_form
{
	position:absolute;
	left:0px;
	top:-30px;
	display:none;
}

.friend_list_edit_ajax
{
	display:none;
}

.js_friend_sort_handler
{
	width:40px;
	height:40px;
	background:url('../image/layout/js_friend_sort_handler.png') no-repeat;
	cursor:move;
	margin-top:10px;
	display:none;
	border:1px #ccc solid;
  	-moz-box-shadow:3px 3px 3px #f1f1f1;
  	-webkit-box-shadow:3px 3px 3px #f1f1f1;
  	box-shadow:3px 3px 3px #f1f1f1;		
}

.js_friend_edit_order
{
	display:none;
}
