html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #595959;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
#installer {
  width: 400px;
  margin: 50px auto 50px auto;
  text-align: center;
}
#installer .process {
  line-height: 300px;
  font-size: 18px;
  font-weight: 300;
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  letter-spacing: 1px;
}
#installer > form {
  text-align: left;
}
#installer > form .table_header {
  text-align: center;
  border-bottom: 3px #bfbfbf solid;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-weight: 300;
}
#installer > form .table {
  padding-bottom: 20px;
}
#installer > form .table .table_left {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
#installer > form .table .table_right input,
#installer > form .table .table_right select {
  width: 100%;
  margin: 0px;
  border: 0px;
  background: #a5a5a5;
  color: #595959;
  font-size: 16px;
  padding: 15px 0px;
  text-indent: 10px;
}
#installer > form .table .table_right input[type="text"]:focus,
#installer > form .table .table_right input[type="password"]:focus {
  background: #ffffff;
}
#installer > form .table_clear .button {
  background: #298ada;
  color: #ffffff;
  padding: 15px 0px;
  text-align: center;
  border: 0px;
  outline: none;
  width: 100%;
  cursor: pointer;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}
.error {
  background: #d9534f;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
  border: 0px;
  text-align: left;
}
