html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #e5e5e5;
  color: #808080;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
#header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  line-height: 50px;
  text-indent: 20px;
  color: #cccccc;
  font-weight: 300;
  font-size: 24px;
  background: #3f3f3f;
}
#header > span {
  color: #727272;
  margin-left: 4px;
}
#installer {
  margin: 50px auto 100px auto;
  text-align: center;
}
#installer .process {
  line-height: 300px;
  font-size: 18px;
  font-weight: 300;
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  letter-spacing: 1px;
}
#installer .process i {
  position: absolute;
  bottom: 80px;
  left: 0px;
  right: 0px;
  font-size: 26px;
  color: #b3b3b3;
}
.table_header {
  background: #fff;
  color: #808080;
  border-bottom: 1px #dfdfdf solid;
  font-size: 20px;
  padding: 30px 20px;
  font-weight: 200;
  text-align: left;
}
#installer > form,
#installer > #client_details > form {
  text-align: left;
}
#installer > form .table,
#installer > #client_details > form .table {
  padding: 20px 20px 0px 20px;
}
#installer > form .table .table_left,
#installer > #client_details > form .table .table_left {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
#installer > form .table .table_right input,
#installer > #client_details > form .table .table_right input,
#installer > form .table .table_right select,
#installer > #client_details > form .table .table_right select {
  width: 100%;
  margin: 0px;
  border: 0px;
  background: #fff;
  color: #808080;
  font-size: 16px;
  padding: 15px 0px;
  text-indent: 10px;
}
#installer > form .table .table_right input[type="text"]:focus,
#installer > #client_details > form .table .table_right input[type="text"]:focus,
#installer > form .table .table_right input[type="password"]:focus,
#installer > #client_details > form .table .table_right input[type="password"]:focus {
  background: #ffffff;
}
.table_clear {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.table_clear .button {
  background: #f4645f;
  color: #ffffff;
  padding: 15px 0px;
  text-align: center;
  border: 0px;
  outline: none;
  width: 100%;
  cursor: pointer;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}
.table_clear .button:hover {
  background: #f7928f;
  color: #ffffff;
  transition: all 0.5s ease;
}
.error {
  background: #fff;
  color: #f4645f;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
  border: 0px;
  text-align: left;
  border-left: 10px #f4645f solid;
}
.completed_message {
  background: #fff;
  color: #808080;
  font-size: 20px;
  font-weight: 300;
  padding: 60px 0px;
  text-align: center;
}
#license_selector > a,
#license_selector > a:hover {
  display: block;
  padding: 10px 0px;
  text-indent: 10px;
  text-decoration: none;
  background: #fff;
  color: #8d8d8d;
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  border-bottom: 1px #e5e5e5 solid;
}
#license_selector > a i,
#license_selector > a:hover i {
  margin-right: 10px;
}
#license_selector > a:hover {
  background: #f2f2f2;
  transition: all 0.5s ease;
  color: #222;
}
