
.reset() {
	background:transparent;
	border-radius:0px;
	box-shadow:none;
	color:inherit;
	height:auto;
	line-height:normal;
	position:static;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	width:auto;
	float:none;
}

.button() {
	display:block;
	text-align:center;
	border:3px @brandPrimary solid;
	height:30px;
	line-height:30px;
	padding:0px 10px;
	text-transform:uppercase;
	font-weight:300;
	font-size:(@fontSizeBase - 1) !important;
	letter-spacing:1px;
}

.button_hover() {
	border-color:darken(@brandPrimary, 10%);
	background:@brandPrimary;
	color:@brandPrimaryColor;
	transition:@transition;
}

.nav() {
	ul {
		background:@blockBg;
	}

	ul li a, ul li a:hover {
		display:block;
		background:transparent;
		font-weight:300;
		font-size:@fontSizeBase;
		height:35px;
		line-height:35px;
		padding:0px;
		color:lighten(@textColor, 10%);
		text-indent:10px;
		border-radius:0px;
	}

	ul li a:hover {
		transition:@transition;
		color:darken(@textColor, 50%);
	}

	ul li.active a, ul li.active a:hover {
		background:@brandPrimary;
		color:@brandPrimaryColor;
	}
}