i._aa {
  background: #2980b9;
}
i._ab {
  background: #c0392b;
}
i._ac {
  background: #1abc9c;
}
i._ad {
  background: #f1c40f;
}
i._ae {
  background: #E87E04;
}
i._af {
  background: #2c3e50;
}
i._ag {
  background: #663399;
}
i._ah {
  background: #663399;
}
i._ai {
  background: #f1c40f;
}
i._aj {
  background: #1abc9c;
}
i._ak {
  background: #4ECDC4;
}
i._al {
  background: #2c3e50;
}
i._am {
  background: #4ECDC4;
}
i._an {
  background: #9b59b6;
}
i._ao {
  background: #663399;
}
i._ap {
  background: #663399;
}
i._aq {
  background: #1abc9c;
}
i._ar {
  background: #2980b9;
}
i._as {
  background: #663399;
}
i._at {
  background: #d35400;
}
i._au {
  background: #2980b9;
}
i._av {
  background: #f1c40f;
}
i._aw {
  background: #c0392b;
}
i._ax {
  background: #d35400;
}
i._ay {
  background: #81CFE0;
}
i._az {
  background: #2c3e50;
}
i._ba {
  background: #9b59b6;
}
i._bb {
  background: #1abc9c;
}
i._bc {
  background: #7f8c8d;
}
i._bd {
  background: #2c3e50;
}
i._be {
  background: #2c3e50;
}
i._bf {
  background: #2980b9;
}
i._bg {
  background: #F62459;
}
i._bh {
  background: #F62459;
}
i._bi {
  background: #d35400;
}
i._bj {
  background: #81CFE0;
}
i._bk {
  background: #4ECDC4;
}
i._bl {
  background: #c0392b;
}
i._bm {
  background: #f1c40f;
}
i._bn {
  background: #E87E04;
}
i._bo {
  background: #c0392b;
}
i._bp {
  background: #2c3e50;
}
i._bq {
  background: #81CFE0;
}
i._br {
  background: #d35400;
}
i._bs {
  background: #c0392b;
}
i._bt {
  background: #7f8c8d;
}
i._bu {
  background: #f1c40f;
}
i._bv {
  background: #E87E04;
}
i._bw {
  background: #f1c40f;
}
i._bx {
  background: #d35400;
}
i._by {
  background: #2c3e50;
}
i._bz {
  background: #E87E04;
}
i._ca {
  background: #1abc9c;
}
i._cb {
  background: #663399;
}
i._cc {
  background: #2980b9;
}
i._cd {
  background: #2980b9;
}
i._ce {
  background: #7f8c8d;
}
i._cf {
  background: #1abc9c;
}
i._cg {
  background: #f1c40f;
}
i._ch {
  background: #1abc9c;
}
i._ci {
  background: #c0392b;
}
i._cj {
  background: #c0392b;
}
i._ck {
  background: #E87E04;
}
i._cl {
  background: #81CFE0;
}
i._cm {
  background: #2c3e50;
}
i._cn {
  background: #1abc9c;
}
i._co {
  background: #E87E04;
}
i._cp {
  background: #9b59b6;
}
i._cq {
  background: #2c3e50;
}
i._cr {
  background: #2980b9;
}
i._cs {
  background: #c0392b;
}
i._ct {
  background: #F62459;
}
i._cu {
  background: #1abc9c;
}
i._cv {
  background: #c0392b;
}
i._cw {
  background: #7f8c8d;
}
i._cx {
  background: #c0392b;
}
i._cy {
  background: #f1c40f;
}
i._cz {
  background: #2980b9;
}
i._da {
  background: #4ECDC4;
}
i._db {
  background: #1abc9c;
}
i._dc {
  background: #9b59b6;
}
i._dd {
  background: #f1c40f;
}
i._de {
  background: #4ECDC4;
}
i._df {
  background: #2c3e50;
}
i._dg {
  background: #E87E04;
}
i._dh {
  background: #f1c40f;
}
i._di {
  background: #F62459;
}
i._dj {
  background: #f1c40f;
}
i._dk {
  background: #7f8c8d;
}
i._dl {
  background: #2980b9;
}
i._dm {
  background: #d35400;
}
i._dn {
  background: #E87E04;
}
i._do {
  background: #9b59b6;
}
i._dp {
  background: #9b59b6;
}
i._dq {
  background: #f1c40f;
}
i._dr {
  background: #2c3e50;
}
i._ds {
  background: #663399;
}
i._dt {
  background: #c0392b;
}
i._du {
  background: #2c3e50;
}
i._dv {
  background: #f1c40f;
}
i._dw {
  background: #1abc9c;
}
i._dx {
  background: #9b59b6;
}
i._dy {
  background: #1abc9c;
}
i._dz {
  background: #E87E04;
}
i._ea {
  background: #d35400;
}
i._eb {
  background: #2980b9;
}
i._ec {
  background: #f1c40f;
}
i._ed {
  background: #d35400;
}
i._ee {
  background: #E87E04;
}
i._ef {
  background: #f1c40f;
}
i._eg {
  background: #F62459;
}
i._eh {
  background: #1abc9c;
}
i._ei {
  background: #f1c40f;
}
i._ej {
  background: #f1c40f;
}
i._ek {
  background: #81CFE0;
}
i._el {
  background: #1abc9c;
}
i._em {
  background: #c0392b;
}
i._en {
  background: #2980b9;
}
i._eo {
  background: #7f8c8d;
}
i._ep {
  background: #2c3e50;
}
i._eq {
  background: #2980b9;
}
i._er {
  background: #c0392b;
}
i._es {
  background: #1abc9c;
}
i._et {
  background: #663399;
}
i._eu {
  background: #F62459;
}
i._ev {
  background: #81CFE0;
}
i._ew {
  background: #663399;
}
i._ex {
  background: #E87E04;
}
i._ey {
  background: #663399;
}
i._ez {
  background: #663399;
}
i._fa {
  background: #f1c40f;
}
i._fb {
  background: #f1c40f;
}
i._fc {
  background: #2c3e50;
}
i._fd {
  background: #81CFE0;
}
i._fe {
  background: #E87E04;
}
i._ff {
  background: #7f8c8d;
}
i._fg {
  background: #7f8c8d;
}
i._fh {
  background: #81CFE0;
}
i._fi {
  background: #E87E04;
}
i._fj {
  background: #F62459;
}
i._fk {
  background: #1abc9c;
}
i._fl {
  background: #2980b9;
}
i._fm {
  background: #F62459;
}
i._fn {
  background: #d35400;
}
i._fo {
  background: #81CFE0;
}
i._fp {
  background: #2c3e50;
}
i._fq {
  background: #2c3e50;
}
i._fr {
  background: #1abc9c;
}
i._fs {
  background: #4ECDC4;
}
i._ft {
  background: #d35400;
}
i._fu {
  background: #4ECDC4;
}
i._fv {
  background: #E87E04;
}
i._fw {
  background: #2980b9;
}
i._fx {
  background: #2c3e50;
}
i._fy {
  background: #f1c40f;
}
i._fz {
  background: #E87E04;
}
i._ga {
  background: #F62459;
}
i._gb {
  background: #4ECDC4;
}
i._gc {
  background: #9b59b6;
}
i._gd {
  background: #9b59b6;
}
i._ge {
  background: #f1c40f;
}
i._gf {
  background: #7f8c8d;
}
i._gg {
  background: #1abc9c;
}
i._gh {
  background: #1abc9c;
}
i._gi {
  background: #1abc9c;
}
i._gj {
  background: #f1c40f;
}
i._gk {
  background: #2980b9;
}
i._gl {
  background: #2980b9;
}
i._gm {
  background: #c0392b;
}
i._gn {
  background: #f1c40f;
}
i._go {
  background: #f1c40f;
}
i._gp {
  background: #81CFE0;
}
i._gq {
  background: #c0392b;
}
i._gr {
  background: #7f8c8d;
}
i._gs {
  background: #d35400;
}
i._gt {
  background: #1abc9c;
}
i._gu {
  background: #1abc9c;
}
i._gv {
  background: #7f8c8d;
}
i._gw {
  background: #c0392b;
}
i._gx {
  background: #c0392b;
}
i._gy {
  background: #F62459;
}
i._gz {
  background: #2980b9;
}
i._ha {
  background: #2c3e50;
}
i._hb {
  background: #d35400;
}
i._hc {
  background: #663399;
}
i._hd {
  background: #d35400;
}
i._he {
  background: #2980b9;
}
i._hf {
  background: #F62459;
}
i._hg {
  background: #f1c40f;
}
i._hh {
  background: #663399;
}
i._hi {
  background: #E87E04;
}
i._hj {
  background: #7f8c8d;
}
i._hk {
  background: #4ECDC4;
}
i._hl {
  background: #1abc9c;
}
i._hm {
  background: #d35400;
}
i._hn {
  background: #f1c40f;
}
i._ho {
  background: #1abc9c;
}
i._hp {
  background: #f1c40f;
}
i._hq {
  background: #4ECDC4;
}
i._hr {
  background: #d35400;
}
i._hs {
  background: #9b59b6;
}
i._ht {
  background: #1abc9c;
}
i._hu {
  background: #c0392b;
}
i._hv {
  background: #E87E04;
}
i._hw {
  background: #1abc9c;
}
i._hx {
  background: #d35400;
}
i._hy {
  background: #E87E04;
}
i._hz {
  background: #7f8c8d;
}
i._ia {
  background: #c0392b;
}
i._ib {
  background: #d35400;
}
i._ic {
  background: #2980b9;
}
i._id {
  background: #7f8c8d;
}
i._ie {
  background: #1abc9c;
}
i._if {
  background: #4ECDC4;
}
i._ig {
  background: #f1c40f;
}
i._ih {
  background: #2c3e50;
}
i._ii {
  background: #663399;
}
i._ij {
  background: #E87E04;
}
i._ik {
  background: #4ECDC4;
}
i._il {
  background: #663399;
}
i._im {
  background: #4ECDC4;
}
i._in {
  background: #2c3e50;
}
i._io {
  background: #2980b9;
}
i._ip {
  background: #f1c40f;
}
i._iq {
  background: #c0392b;
}
i._ir {
  background: #4ECDC4;
}
i._is {
  background: #2980b9;
}
i._it {
  background: #9b59b6;
}
i._iu {
  background: #1abc9c;
}
i._iv {
  background: #2980b9;
}
i._iw {
  background: #1abc9c;
}
i._ix {
  background: #7f8c8d;
}
i._iy {
  background: #9b59b6;
}
i._iz {
  background: #81CFE0;
}
i._ja {
  background: #9b59b6;
}
i._jb {
  background: #c0392b;
}
i._jc {
  background: #c0392b;
}
i._jd {
  background: #E87E04;
}
i._je {
  background: #81CFE0;
}
i._jf {
  background: #9b59b6;
}
i._jg {
  background: #E87E04;
}
i._jh {
  background: #4ECDC4;
}
i._ji {
  background: #c0392b;
}
i._jj {
  background: #4ECDC4;
}
i._jk {
  background: #4ECDC4;
}
i._jl {
  background: #7f8c8d;
}
i._jm {
  background: #F62459;
}
i._jn {
  background: #2980b9;
}
i._jo {
  background: #E87E04;
}
i._jp {
  background: #E87E04;
}
i._jq {
  background: #81CFE0;
}
i._jr {
  background: #2980b9;
}
i._js {
  background: #4ECDC4;
}
i._jt {
  background: #2980b9;
}
i._ju {
  background: #1abc9c;
}
i._jv {
  background: #663399;
}
i._jw {
  background: #F62459;
}
i._jx {
  background: #2980b9;
}
i._jy {
  background: #E87E04;
}
i._jz {
  background: #F62459;
}
i._ka {
  background: #2980b9;
}
i._kb {
  background: #E87E04;
}
i._kc {
  background: #663399;
}
i._kd {
  background: #4ECDC4;
}
i._ke {
  background: #81CFE0;
}
i._kf {
  background: #E87E04;
}
i._kg {
  background: #1abc9c;
}
i._kh {
  background: #9b59b6;
}
i._ki {
  background: #663399;
}
i._kj {
  background: #9b59b6;
}
i._kk {
  background: #2980b9;
}
i._kl {
  background: #c0392b;
}
i._km {
  background: #c0392b;
}
i._kn {
  background: #663399;
}
i._ko {
  background: #c0392b;
}
i._kp {
  background: #f1c40f;
}
i._kq {
  background: #d35400;
}
i._kr {
  background: #F62459;
}
i._ks {
  background: #663399;
}
i._kt {
  background: #f1c40f;
}
i._ku {
  background: #663399;
}
i._kv {
  background: #d35400;
}
i._kw {
  background: #c0392b;
}
i._kx {
  background: #f1c40f;
}
i._ky {
  background: #1abc9c;
}
i._kz {
  background: #1abc9c;
}
i._la {
  background: #1abc9c;
}
i._lb {
  background: #d35400;
}
i._lc {
  background: #9b59b6;
}
i._ld {
  background: #663399;
}
i._le {
  background: #2980b9;
}
i._lf {
  background: #E87E04;
}
i._lg {
  background: #f1c40f;
}
i._lh {
  background: #9b59b6;
}
i._li {
  background: #4ECDC4;
}
i._lj {
  background: #9b59b6;
}
i._lk {
  background: #81CFE0;
}
i._ll {
  background: #4ECDC4;
}
i._lm {
  background: #1abc9c;
}
i._ln {
  background: #F62459;
}
i._lo {
  background: #663399;
}
i._lp {
  background: #F62459;
}
i._lq {
  background: #F62459;
}
i._lr {
  background: #2c3e50;
}
i._ls {
  background: #F62459;
}
i._lt {
  background: #c0392b;
}
i._lu {
  background: #2980b9;
}
i._lv {
  background: #2c3e50;
}
i._lw {
  background: #f1c40f;
}
i._lx {
  background: #f1c40f;
}
i._ly {
  background: #F62459;
}
i._lz {
  background: #9b59b6;
}
i._ma {
  background: #4ECDC4;
}
i._mb {
  background: #7f8c8d;
}
i._mc {
  background: #7f8c8d;
}
i._md {
  background: #2c3e50;
}
i._me {
  background: #d35400;
}
i._mf {
  background: #663399;
}
i._mg {
  background: #1abc9c;
}
i._mh {
  background: #9b59b6;
}
i._mi {
  background: #663399;
}
i._mj {
  background: #4ECDC4;
}
i._mk {
  background: #81CFE0;
}
i._ml {
  background: #2980b9;
}
i._mm {
  background: #d35400;
}
i._mn {
  background: #F62459;
}
i._mo {
  background: #81CFE0;
}
i._mp {
  background: #1abc9c;
}
i._mq {
  background: #81CFE0;
}
i._mr {
  background: #1abc9c;
}
i._ms {
  background: #1abc9c;
}
i._mt {
  background: #9b59b6;
}
i._mu {
  background: #2980b9;
}
i._mv {
  background: #1abc9c;
}
i._mw {
  background: #663399;
}
i._mx {
  background: #1abc9c;
}
i._my {
  background: #c0392b;
}
i._mz {
  background: #f1c40f;
}
i._na {
  background: #F62459;
}
i._nb {
  background: #d35400;
}
i._nc {
  background: #81CFE0;
}
i._nd {
  background: #4ECDC4;
}
i._ne {
  background: #4ECDC4;
}
i._nf {
  background: #1abc9c;
}
i._ng {
  background: #f1c40f;
}
i._nh {
  background: #4ECDC4;
}
i._ni {
  background: #F62459;
}
i._nj {
  background: #4ECDC4;
}
i._nk {
  background: #c0392b;
}
i._nl {
  background: #c0392b;
}
i._nm {
  background: #c0392b;
}
i._nn {
  background: #d35400;
}
i._no {
  background: #E87E04;
}
i._np {
  background: #E87E04;
}
i._nq {
  background: #2980b9;
}
i._nr {
  background: #F62459;
}
i._ns {
  background: #81CFE0;
}
i._nt {
  background: #7f8c8d;
}
i._nu {
  background: #2980b9;
}
i._nv {
  background: #F62459;
}
i._nw {
  background: #663399;
}
i._nx {
  background: #2c3e50;
}
i._ny {
  background: #E87E04;
}
i._nz {
  background: #E87E04;
}
i._oa {
  background: #663399;
}
i._ob {
  background: #663399;
}
i._oc {
  background: #4ECDC4;
}
i._od {
  background: #E87E04;
}
i._oe {
  background: #f1c40f;
}
i._of {
  background: #81CFE0;
}
i._og {
  background: #E87E04;
}
i._oh {
  background: #E87E04;
}
i._oi {
  background: #81CFE0;
}
i._oj {
  background: #1abc9c;
}
i._ok {
  background: #7f8c8d;
}
i._ol {
  background: #E87E04;
}
i._om {
  background: #F62459;
}
i._on {
  background: #d35400;
}
i._oo {
  background: #9b59b6;
}
i._op {
  background: #4ECDC4;
}
i._oq {
  background: #4ECDC4;
}
i._or {
  background: #f1c40f;
}
i._os {
  background: #81CFE0;
}
i._ot {
  background: #E87E04;
}
i._ou {
  background: #4ECDC4;
}
i._ov {
  background: #d35400;
}
i._ow {
  background: #d35400;
}
i._ox {
  background: #F62459;
}
i._oy {
  background: #f1c40f;
}
i._oz {
  background: #2980b9;
}
i._pa {
  background: #f1c40f;
}
i._pb {
  background: #81CFE0;
}
i._pc {
  background: #1abc9c;
}
i._pd {
  background: #81CFE0;
}
i._pe {
  background: #E87E04;
}
i._pf {
  background: #c0392b;
}
i._pg {
  background: #f1c40f;
}
i._ph {
  background: #E87E04;
}
i._pi {
  background: #f1c40f;
}
i._pj {
  background: #663399;
}
i._pk {
  background: #663399;
}
i._pl {
  background: #f1c40f;
}
i._pm {
  background: #663399;
}
i._pn {
  background: #1abc9c;
}
i._po {
  background: #c0392b;
}
i._pp {
  background: #1abc9c;
}
i._pq {
  background: #81CFE0;
}
i._pr {
  background: #663399;
}
i._ps {
  background: #d35400;
}
i._pt {
  background: #c0392b;
}
i._pu {
  background: #F62459;
}
i._pv {
  background: #F62459;
}
i._pw {
  background: #d35400;
}
i._px {
  background: #c0392b;
}
i._py {
  background: #9b59b6;
}
i._pz {
  background: #F62459;
}
i._qa {
  background: #E87E04;
}
i._qb {
  background: #f1c40f;
}
i._qc {
  background: #F62459;
}
i._qd {
  background: #81CFE0;
}
i._qe {
  background: #F62459;
}
i._qf {
  background: #d35400;
}
i._qg {
  background: #c0392b;
}
i._qh {
  background: #1abc9c;
}
i._qi {
  background: #c0392b;
}
i._qj {
  background: #f1c40f;
}
i._qk {
  background: #f1c40f;
}
i._ql {
  background: #81CFE0;
}
i._qm {
  background: #4ECDC4;
}
i._qn {
  background: #f1c40f;
}
i._qo {
  background: #F62459;
}
i._qp {
  background: #c0392b;
}
i._qq {
  background: #c0392b;
}
i._qr {
  background: #9b59b6;
}
i._qs {
  background: #9b59b6;
}
i._qt {
  background: #1abc9c;
}
i._qu {
  background: #81CFE0;
}
i._qv {
  background: #1abc9c;
}
i._qw {
  background: #F62459;
}
i._qx {
  background: #f1c40f;
}
i._qy {
  background: #81CFE0;
}
i._qz {
  background: #7f8c8d;
}
i._ra {
  background: #81CFE0;
}
i._rb {
  background: #1abc9c;
}
i._rc {
  background: #d35400;
}
i._rd {
  background: #c0392b;
}
i._re {
  background: #2980b9;
}
i._rf {
  background: #4ECDC4;
}
i._rg {
  background: #81CFE0;
}
i._rh {
  background: #9b59b6;
}
i._ri {
  background: #4ECDC4;
}
i._rj {
  background: #81CFE0;
}
i._rk {
  background: #F62459;
}
i._rl {
  background: #F62459;
}
i._rm {
  background: #663399;
}
i._rn {
  background: #E87E04;
}
i._ro {
  background: #81CFE0;
}
i._rp {
  background: #E87E04;
}
i._rq {
  background: #f1c40f;
}
i._rr {
  background: #7f8c8d;
}
i._rs {
  background: #d35400;
}
i._rt {
  background: #d35400;
}
i._ru {
  background: #2980b9;
}
i._rv {
  background: #F62459;
}
i._rw {
  background: #2980b9;
}
i._rx {
  background: #7f8c8d;
}
i._ry {
  background: #663399;
}
i._rz {
  background: #7f8c8d;
}
i._sa {
  background: #F62459;
}
i._sb {
  background: #d35400;
}
i._sc {
  background: #7f8c8d;
}
i._sd {
  background: #663399;
}
i._se {
  background: #E87E04;
}
i._sf {
  background: #663399;
}
i._sg {
  background: #2c3e50;
}
i._sh {
  background: #9b59b6;
}
i._si {
  background: #F62459;
}
i._sj {
  background: #81CFE0;
}
i._sk {
  background: #c0392b;
}
i._sl {
  background: #4ECDC4;
}
i._sm {
  background: #d35400;
}
i._sn {
  background: #4ECDC4;
}
i._so {
  background: #7f8c8d;
}
i._sp {
  background: #4ECDC4;
}
i._sq {
  background: #2980b9;
}
i._sr {
  background: #1abc9c;
}
i._ss {
  background: #d35400;
}
i._st {
  background: #F62459;
}
i._su {
  background: #F62459;
}
i._sv {
  background: #7f8c8d;
}
i._sw {
  background: #81CFE0;
}
i._sx {
  background: #F62459;
}
i._sy {
  background: #E87E04;
}
i._sz {
  background: #f1c40f;
}
i._ta {
  background: #663399;
}
i._tb {
  background: #81CFE0;
}
i._tc {
  background: #E87E04;
}
i._td {
  background: #E87E04;
}
i._te {
  background: #7f8c8d;
}
i._tf {
  background: #81CFE0;
}
i._tg {
  background: #1abc9c;
}
i._th {
  background: #E87E04;
}
i._ti {
  background: #c0392b;
}
i._tj {
  background: #4ECDC4;
}
i._tk {
  background: #E87E04;
}
i._tl {
  background: #663399;
}
i._tm {
  background: #81CFE0;
}
i._tn {
  background: #f1c40f;
}
i._to {
  background: #d35400;
}
i._tp {
  background: #7f8c8d;
}
i._tq {
  background: #1abc9c;
}
i._tr {
  background: #9b59b6;
}
i._ts {
  background: #F62459;
}
i._tt {
  background: #9b59b6;
}
i._tu {
  background: #d35400;
}
i._tv {
  background: #f1c40f;
}
i._tw {
  background: #d35400;
}
i._tx {
  background: #663399;
}
i._ty {
  background: #81CFE0;
}
i._tz {
  background: #c0392b;
}
i._ua {
  background: #7f8c8d;
}
i._ub {
  background: #F62459;
}
i._uc {
  background: #d35400;
}
i._ud {
  background: #1abc9c;
}
i._ue {
  background: #c0392b;
}
i._uf {
  background: #9b59b6;
}
i._ug {
  background: #F62459;
}
i._uh {
  background: #2c3e50;
}
i._ui {
  background: #1abc9c;
}
i._uj {
  background: #4ECDC4;
}
i._uk {
  background: #2980b9;
}
i._ul {
  background: #E87E04;
}
i._um {
  background: #f1c40f;
}
i._un {
  background: #9b59b6;
}
i._uo {
  background: #81CFE0;
}
i._up {
  background: #1abc9c;
}
i._uq {
  background: #f1c40f;
}
i._ur {
  background: #2c3e50;
}
i._us {
  background: #d35400;
}
i._ut {
  background: #663399;
}
i._uu {
  background: #7f8c8d;
}
i._uv {
  background: #E87E04;
}
i._uw {
  background: #1abc9c;
}
i._ux {
  background: #1abc9c;
}
i._uy {
  background: #663399;
}
i._uz {
  background: #81CFE0;
}
i._va {
  background: #9b59b6;
}
i._vb {
  background: #9b59b6;
}
i._vc {
  background: #1abc9c;
}
i._vd {
  background: #7f8c8d;
}
i._ve {
  background: #2980b9;
}
i._vf {
  background: #663399;
}
i._vg {
  background: #1abc9c;
}
i._vh {
  background: #2980b9;
}
i._vi {
  background: #f1c40f;
}
i._vj {
  background: #2980b9;
}
i._vk {
  background: #F62459;
}
i._vl {
  background: #9b59b6;
}
i._vm {
  background: #c0392b;
}
i._vn {
  background: #2980b9;
}
i._vo {
  background: #4ECDC4;
}
i._vp {
  background: #663399;
}
i._vq {
  background: #2980b9;
}
i._vr {
  background: #E87E04;
}
i._vs {
  background: #f1c40f;
}
i._vt {
  background: #1abc9c;
}
i._vu {
  background: #81CFE0;
}
i._vv {
  background: #2980b9;
}
i._vw {
  background: #c0392b;
}
i._vx {
  background: #E87E04;
}
i._vy {
  background: #2c3e50;
}
i._vz {
  background: #d35400;
}
i._wa {
  background: #9b59b6;
}
i._wb {
  background: #d35400;
}
i._wc {
  background: #f1c40f;
}
i._wd {
  background: #663399;
}
i._we {
  background: #d35400;
}
i._wf {
  background: #c0392b;
}
i._wg {
  background: #E87E04;
}
i._wh {
  background: #F62459;
}
i._wi {
  background: #9b59b6;
}
i._wj {
  background: #2c3e50;
}
i._wk {
  background: #f1c40f;
}
i._wl {
  background: #9b59b6;
}
i._wm {
  background: #9b59b6;
}
i._wn {
  background: #81CFE0;
}
i._wo {
  background: #7f8c8d;
}
i._wp {
  background: #1abc9c;
}
i._wq {
  background: #E87E04;
}
i._wr {
  background: #4ECDC4;
}
i._ws {
  background: #81CFE0;
}
i._wt {
  background: #c0392b;
}
i._wu {
  background: #2c3e50;
}
i._wv {
  background: #9b59b6;
}
i._ww {
  background: #1abc9c;
}
i._wx {
  background: #d35400;
}
i._wy {
  background: #2c3e50;
}
i._wz {
  background: #E87E04;
}
i._xa {
  background: #c0392b;
}
i._xb {
  background: #c0392b;
}
i._xc {
  background: #1abc9c;
}
i._xd {
  background: #d35400;
}
i._xe {
  background: #f1c40f;
}
i._xf {
  background: #d35400;
}
i._xg {
  background: #9b59b6;
}
i._xh {
  background: #F62459;
}
i._xi {
  background: #4ECDC4;
}
i._xj {
  background: #F62459;
}
i._xk {
  background: #c0392b;
}
i._xl {
  background: #f1c40f;
}
i._xm {
  background: #F62459;
}
i._xn {
  background: #7f8c8d;
}
i._xo {
  background: #f1c40f;
}
i._xp {
  background: #7f8c8d;
}
i._xq {
  background: #2980b9;
}
i._xr {
  background: #2980b9;
}
i._xs {
  background: #c0392b;
}
i._xt {
  background: #E87E04;
}
i._xu {
  background: #c0392b;
}
i._xv {
  background: #f1c40f;
}
i._xw {
  background: #E87E04;
}
i._xx {
  background: #d35400;
}
i._xy {
  background: #2c3e50;
}
i._xz {
  background: #4ECDC4;
}
i._ya {
  background: #c0392b;
}
i._yb {
  background: #f1c40f;
}
i._yc {
  background: #f1c40f;
}
i._yd {
  background: #81CFE0;
}
i._ye {
  background: #9b59b6;
}
i._yf {
  background: #9b59b6;
}
i._yg {
  background: #F62459;
}
i._yh {
  background: #F62459;
}
i._yi {
  background: #9b59b6;
}
i._yj {
  background: #E87E04;
}
i._yk {
  background: #7f8c8d;
}
i._yl {
  background: #F62459;
}
i._ym {
  background: #81CFE0;
}
i._yn {
  background: #c0392b;
}
i._yo {
  background: #2c3e50;
}
i._yp {
  background: #2980b9;
}
i._yq {
  background: #f1c40f;
}
i._yr {
  background: #f1c40f;
}
i._ys {
  background: #4ECDC4;
}
i._yt {
  background: #d35400;
}
i._yu {
  background: #1abc9c;
}
i._yv {
  background: #4ECDC4;
}
i._yw {
  background: #E87E04;
}
i._yx {
  background: #d35400;
}
i._yy {
  background: #E87E04;
}
i._yz {
  background: #2980b9;
}
i._za {
  background: #E87E04;
}
i._zb {
  background: #2980b9;
}
i._zc {
  background: #F62459;
}
i._zd {
  background: #81CFE0;
}
i._ze {
  background: #F62459;
}
i._zf {
  background: #9b59b6;
}
i._zg {
  background: #81CFE0;
}
i._zh {
  background: #d35400;
}
i._zi {
  background: #2980b9;
}
i._zj {
  background: #1abc9c;
}
i._zk {
  background: #81CFE0;
}
i._zl {
  background: #2c3e50;
}
i._zm {
  background: #1abc9c;
}
i._zn {
  background: #F62459;
}
i._zo {
  background: #c0392b;
}
i._zp {
  background: #1abc9c;
}
i._zq {
  background: #d35400;
}
i._zr {
  background: #81CFE0;
}
i._zs {
  background: #2c3e50;
}
i._zt {
  background: #f1c40f;
}
i._zu {
  background: #7f8c8d;
}
i._zv {
  background: #f1c40f;
}
i._zw {
  background: #663399;
}
i._zx {
  background: #2c3e50;
}
i._zy {
  background: #9b59b6;
}
i._zz {
  background: #f1c40f;
}
._first_aa {
  background: #2980b9;
}
._first_ab {
  background: #c0392b;
}
._first_ac {
  background: #1abc9c;
}
._first_ad {
  background: #f1c40f;
}
._first_ae {
  background: #E87E04;
}
._first_af {
  background: #2c3e50;
}
._first_ag {
  background: #663399;
}
._first_ah {
  background: #663399;
}
._first_ai {
  background: #f1c40f;
}
._first_aj {
  background: #1abc9c;
}
._first_ak {
  background: #4ECDC4;
}
._first_al {
  background: #2c3e50;
}
._first_am {
  background: #4ECDC4;
}
._first_an {
  background: #9b59b6;
}
._first_ao {
  background: #663399;
}
._first_ap {
  background: #663399;
}
._first_aq {
  background: #1abc9c;
}
._first_ar {
  background: #2980b9;
}
._first_as {
  background: #663399;
}
._first_at {
  background: #d35400;
}
._first_au {
  background: #2980b9;
}
._first_av {
  background: #f1c40f;
}
._first_aw {
  background: #c0392b;
}
._first_ax {
  background: #d35400;
}
._first_ay {
  background: #81CFE0;
}
._first_az {
  background: #2c3e50;
}
._first_ba {
  background: #9b59b6;
}
._first_bb {
  background: #1abc9c;
}
._first_bc {
  background: #7f8c8d;
}
._first_bd {
  background: #2c3e50;
}
._first_be {
  background: #2c3e50;
}
._first_bf {
  background: #2980b9;
}
._first_bg {
  background: #F62459;
}
._first_bh {
  background: #F62459;
}
._first_bi {
  background: #d35400;
}
._first_bj {
  background: #81CFE0;
}
._first_bk {
  background: #4ECDC4;
}
._first_bl {
  background: #c0392b;
}
._first_bm {
  background: #f1c40f;
}
._first_bn {
  background: #E87E04;
}
._first_bo {
  background: #c0392b;
}
._first_bp {
  background: #2c3e50;
}
._first_bq {
  background: #81CFE0;
}
._first_br {
  background: #d35400;
}
._first_bs {
  background: #c0392b;
}
._first_bt {
  background: #7f8c8d;
}
._first_bu {
  background: #f1c40f;
}
._first_bv {
  background: #E87E04;
}
._first_bw {
  background: #f1c40f;
}
._first_bx {
  background: #d35400;
}
._first_by {
  background: #2c3e50;
}
._first_bz {
  background: #E87E04;
}
._first_ca {
  background: #1abc9c;
}
._first_cb {
  background: #663399;
}
._first_cc {
  background: #2980b9;
}
._first_cd {
  background: #2980b9;
}
._first_ce {
  background: #7f8c8d;
}
._first_cf {
  background: #1abc9c;
}
._first_cg {
  background: #f1c40f;
}
._first_ch {
  background: #1abc9c;
}
._first_ci {
  background: #c0392b;
}
._first_cj {
  background: #c0392b;
}
._first_ck {
  background: #E87E04;
}
._first_cl {
  background: #81CFE0;
}
._first_cm {
  background: #2c3e50;
}
._first_cn {
  background: #1abc9c;
}
._first_co {
  background: #E87E04;
}
._first_cp {
  background: #9b59b6;
}
._first_cq {
  background: #2c3e50;
}
._first_cr {
  background: #2980b9;
}
._first_cs {
  background: #c0392b;
}
._first_ct {
  background: #F62459;
}
._first_cu {
  background: #1abc9c;
}
._first_cv {
  background: #c0392b;
}
._first_cw {
  background: #7f8c8d;
}
._first_cx {
  background: #c0392b;
}
._first_cy {
  background: #f1c40f;
}
._first_cz {
  background: #2980b9;
}
._first_da {
  background: #4ECDC4;
}
._first_db {
  background: #1abc9c;
}
._first_dc {
  background: #9b59b6;
}
._first_dd {
  background: #f1c40f;
}
._first_de {
  background: #4ECDC4;
}
._first_df {
  background: #2c3e50;
}
._first_dg {
  background: #E87E04;
}
._first_dh {
  background: #f1c40f;
}
._first_di {
  background: #F62459;
}
._first_dj {
  background: #f1c40f;
}
._first_dk {
  background: #7f8c8d;
}
._first_dl {
  background: #2980b9;
}
._first_dm {
  background: #d35400;
}
._first_dn {
  background: #E87E04;
}
._first_do {
  background: #9b59b6;
}
._first_dp {
  background: #9b59b6;
}
._first_dq {
  background: #f1c40f;
}
._first_dr {
  background: #2c3e50;
}
._first_ds {
  background: #663399;
}
._first_dt {
  background: #c0392b;
}
._first_du {
  background: #2c3e50;
}
._first_dv {
  background: #f1c40f;
}
._first_dw {
  background: #1abc9c;
}
._first_dx {
  background: #9b59b6;
}
._first_dy {
  background: #1abc9c;
}
._first_dz {
  background: #E87E04;
}
._first_ea {
  background: #d35400;
}
._first_eb {
  background: #2980b9;
}
._first_ec {
  background: #f1c40f;
}
._first_ed {
  background: #d35400;
}
._first_ee {
  background: #E87E04;
}
._first_ef {
  background: #f1c40f;
}
._first_eg {
  background: #F62459;
}
._first_eh {
  background: #1abc9c;
}
._first_ei {
  background: #f1c40f;
}
._first_ej {
  background: #f1c40f;
}
._first_ek {
  background: #81CFE0;
}
._first_el {
  background: #1abc9c;
}
._first_em {
  background: #c0392b;
}
._first_en {
  background: #2980b9;
}
._first_eo {
  background: #7f8c8d;
}
._first_ep {
  background: #2c3e50;
}
._first_eq {
  background: #2980b9;
}
._first_er {
  background: #c0392b;
}
._first_es {
  background: #1abc9c;
}
._first_et {
  background: #663399;
}
._first_eu {
  background: #F62459;
}
._first_ev {
  background: #81CFE0;
}
._first_ew {
  background: #663399;
}
._first_ex {
  background: #E87E04;
}
._first_ey {
  background: #663399;
}
._first_ez {
  background: #663399;
}
._first_fa {
  background: #f1c40f;
}
._first_fb {
  background: #f1c40f;
}
._first_fc {
  background: #2c3e50;
}
._first_fd {
  background: #81CFE0;
}
._first_fe {
  background: #E87E04;
}
._first_ff {
  background: #7f8c8d;
}
._first_fg {
  background: #7f8c8d;
}
._first_fh {
  background: #81CFE0;
}
._first_fi {
  background: #E87E04;
}
._first_fj {
  background: #F62459;
}
._first_fk {
  background: #1abc9c;
}
._first_fl {
  background: #2980b9;
}
._first_fm {
  background: #F62459;
}
._first_fn {
  background: #d35400;
}
._first_fo {
  background: #81CFE0;
}
._first_fp {
  background: #2c3e50;
}
._first_fq {
  background: #2c3e50;
}
._first_fr {
  background: #1abc9c;
}
._first_fs {
  background: #4ECDC4;
}
._first_ft {
  background: #d35400;
}
._first_fu {
  background: #4ECDC4;
}
._first_fv {
  background: #E87E04;
}
._first_fw {
  background: #2980b9;
}
._first_fx {
  background: #2c3e50;
}
._first_fy {
  background: #f1c40f;
}
._first_fz {
  background: #E87E04;
}
._first_ga {
  background: #F62459;
}
._first_gb {
  background: #4ECDC4;
}
._first_gc {
  background: #9b59b6;
}
._first_gd {
  background: #9b59b6;
}
._first_ge {
  background: #f1c40f;
}
._first_gf {
  background: #7f8c8d;
}
._first_gg {
  background: #1abc9c;
}
._first_gh {
  background: #1abc9c;
}
._first_gi {
  background: #1abc9c;
}
._first_gj {
  background: #f1c40f;
}
._first_gk {
  background: #2980b9;
}
._first_gl {
  background: #2980b9;
}
._first_gm {
  background: #c0392b;
}
._first_gn {
  background: #f1c40f;
}
._first_go {
  background: #f1c40f;
}
._first_gp {
  background: #81CFE0;
}
._first_gq {
  background: #c0392b;
}
._first_gr {
  background: #7f8c8d;
}
._first_gs {
  background: #d35400;
}
._first_gt {
  background: #1abc9c;
}
._first_gu {
  background: #1abc9c;
}
._first_gv {
  background: #7f8c8d;
}
._first_gw {
  background: #c0392b;
}
._first_gx {
  background: #c0392b;
}
._first_gy {
  background: #F62459;
}
._first_gz {
  background: #2980b9;
}
._first_ha {
  background: #2c3e50;
}
._first_hb {
  background: #d35400;
}
._first_hc {
  background: #663399;
}
._first_hd {
  background: #d35400;
}
._first_he {
  background: #2980b9;
}
._first_hf {
  background: #F62459;
}
._first_hg {
  background: #f1c40f;
}
._first_hh {
  background: #663399;
}
._first_hi {
  background: #E87E04;
}
._first_hj {
  background: #7f8c8d;
}
._first_hk {
  background: #4ECDC4;
}
._first_hl {
  background: #1abc9c;
}
._first_hm {
  background: #d35400;
}
._first_hn {
  background: #f1c40f;
}
._first_ho {
  background: #1abc9c;
}
._first_hp {
  background: #f1c40f;
}
._first_hq {
  background: #4ECDC4;
}
._first_hr {
  background: #d35400;
}
._first_hs {
  background: #9b59b6;
}
._first_ht {
  background: #1abc9c;
}
._first_hu {
  background: #c0392b;
}
._first_hv {
  background: #E87E04;
}
._first_hw {
  background: #1abc9c;
}
._first_hx {
  background: #d35400;
}
._first_hy {
  background: #E87E04;
}
._first_hz {
  background: #7f8c8d;
}
._first_ia {
  background: #c0392b;
}
._first_ib {
  background: #d35400;
}
._first_ic {
  background: #2980b9;
}
._first_id {
  background: #7f8c8d;
}
._first_ie {
  background: #1abc9c;
}
._first_if {
  background: #4ECDC4;
}
._first_ig {
  background: #f1c40f;
}
._first_ih {
  background: #2c3e50;
}
._first_ii {
  background: #663399;
}
._first_ij {
  background: #E87E04;
}
._first_ik {
  background: #4ECDC4;
}
._first_il {
  background: #663399;
}
._first_im {
  background: #4ECDC4;
}
._first_in {
  background: #2c3e50;
}
._first_io {
  background: #2980b9;
}
._first_ip {
  background: #f1c40f;
}
._first_iq {
  background: #c0392b;
}
._first_ir {
  background: #4ECDC4;
}
._first_is {
  background: #2980b9;
}
._first_it {
  background: #9b59b6;
}
._first_iu {
  background: #1abc9c;
}
._first_iv {
  background: #2980b9;
}
._first_iw {
  background: #1abc9c;
}
._first_ix {
  background: #7f8c8d;
}
._first_iy {
  background: #9b59b6;
}
._first_iz {
  background: #81CFE0;
}
._first_ja {
  background: #9b59b6;
}
._first_jb {
  background: #c0392b;
}
._first_jc {
  background: #c0392b;
}
._first_jd {
  background: #E87E04;
}
._first_je {
  background: #81CFE0;
}
._first_jf {
  background: #9b59b6;
}
._first_jg {
  background: #E87E04;
}
._first_jh {
  background: #4ECDC4;
}
._first_ji {
  background: #c0392b;
}
._first_jj {
  background: #4ECDC4;
}
._first_jk {
  background: #4ECDC4;
}
._first_jl {
  background: #7f8c8d;
}
._first_jm {
  background: #F62459;
}
._first_jn {
  background: #2980b9;
}
._first_jo {
  background: #E87E04;
}
._first_jp {
  background: #E87E04;
}
._first_jq {
  background: #81CFE0;
}
._first_jr {
  background: #2980b9;
}
._first_js {
  background: #4ECDC4;
}
._first_jt {
  background: #2980b9;
}
._first_ju {
  background: #1abc9c;
}
._first_jv {
  background: #663399;
}
._first_jw {
  background: #F62459;
}
._first_jx {
  background: #2980b9;
}
._first_jy {
  background: #E87E04;
}
._first_jz {
  background: #F62459;
}
._first_ka {
  background: #2980b9;
}
._first_kb {
  background: #E87E04;
}
._first_kc {
  background: #663399;
}
._first_kd {
  background: #4ECDC4;
}
._first_ke {
  background: #81CFE0;
}
._first_kf {
  background: #E87E04;
}
._first_kg {
  background: #1abc9c;
}
._first_kh {
  background: #9b59b6;
}
._first_ki {
  background: #663399;
}
._first_kj {
  background: #9b59b6;
}
._first_kk {
  background: #2980b9;
}
._first_kl {
  background: #c0392b;
}
._first_km {
  background: #c0392b;
}
._first_kn {
  background: #663399;
}
._first_ko {
  background: #c0392b;
}
._first_kp {
  background: #f1c40f;
}
._first_kq {
  background: #d35400;
}
._first_kr {
  background: #F62459;
}
._first_ks {
  background: #663399;
}
._first_kt {
  background: #f1c40f;
}
._first_ku {
  background: #663399;
}
._first_kv {
  background: #d35400;
}
._first_kw {
  background: #c0392b;
}
._first_kx {
  background: #f1c40f;
}
._first_ky {
  background: #1abc9c;
}
._first_kz {
  background: #1abc9c;
}
._first_la {
  background: #1abc9c;
}
._first_lb {
  background: #d35400;
}
._first_lc {
  background: #9b59b6;
}
._first_ld {
  background: #663399;
}
._first_le {
  background: #2980b9;
}
._first_lf {
  background: #E87E04;
}
._first_lg {
  background: #f1c40f;
}
._first_lh {
  background: #9b59b6;
}
._first_li {
  background: #4ECDC4;
}
._first_lj {
  background: #9b59b6;
}
._first_lk {
  background: #81CFE0;
}
._first_ll {
  background: #4ECDC4;
}
._first_lm {
  background: #1abc9c;
}
._first_ln {
  background: #F62459;
}
._first_lo {
  background: #663399;
}
._first_lp {
  background: #F62459;
}
._first_lq {
  background: #F62459;
}
._first_lr {
  background: #2c3e50;
}
._first_ls {
  background: #F62459;
}
._first_lt {
  background: #c0392b;
}
._first_lu {
  background: #2980b9;
}
._first_lv {
  background: #2c3e50;
}
._first_lw {
  background: #f1c40f;
}
._first_lx {
  background: #f1c40f;
}
._first_ly {
  background: #F62459;
}
._first_lz {
  background: #9b59b6;
}
._first_ma {
  background: #4ECDC4;
}
._first_mb {
  background: #7f8c8d;
}
._first_mc {
  background: #7f8c8d;
}
._first_md {
  background: #2c3e50;
}
._first_me {
  background: #d35400;
}
._first_mf {
  background: #663399;
}
._first_mg {
  background: #1abc9c;
}
._first_mh {
  background: #9b59b6;
}
._first_mi {
  background: #663399;
}
._first_mj {
  background: #4ECDC4;
}
._first_mk {
  background: #81CFE0;
}
._first_ml {
  background: #2980b9;
}
._first_mm {
  background: #d35400;
}
._first_mn {
  background: #F62459;
}
._first_mo {
  background: #81CFE0;
}
._first_mp {
  background: #1abc9c;
}
._first_mq {
  background: #81CFE0;
}
._first_mr {
  background: #1abc9c;
}
._first_ms {
  background: #1abc9c;
}
._first_mt {
  background: #9b59b6;
}
._first_mu {
  background: #2980b9;
}
._first_mv {
  background: #1abc9c;
}
._first_mw {
  background: #663399;
}
._first_mx {
  background: #1abc9c;
}
._first_my {
  background: #c0392b;
}
._first_mz {
  background: #f1c40f;
}
._first_na {
  background: #F62459;
}
._first_nb {
  background: #d35400;
}
._first_nc {
  background: #81CFE0;
}
._first_nd {
  background: #4ECDC4;
}
._first_ne {
  background: #4ECDC4;
}
._first_nf {
  background: #1abc9c;
}
._first_ng {
  background: #f1c40f;
}
._first_nh {
  background: #4ECDC4;
}
._first_ni {
  background: #F62459;
}
._first_nj {
  background: #4ECDC4;
}
._first_nk {
  background: #c0392b;
}
._first_nl {
  background: #c0392b;
}
._first_nm {
  background: #c0392b;
}
._first_nn {
  background: #d35400;
}
._first_no {
  background: #E87E04;
}
._first_np {
  background: #E87E04;
}
._first_nq {
  background: #2980b9;
}
._first_nr {
  background: #F62459;
}
._first_ns {
  background: #81CFE0;
}
._first_nt {
  background: #7f8c8d;
}
._first_nu {
  background: #2980b9;
}
._first_nv {
  background: #F62459;
}
._first_nw {
  background: #663399;
}
._first_nx {
  background: #2c3e50;
}
._first_ny {
  background: #E87E04;
}
._first_nz {
  background: #E87E04;
}
._first_oa {
  background: #663399;
}
._first_ob {
  background: #663399;
}
._first_oc {
  background: #4ECDC4;
}
._first_od {
  background: #E87E04;
}
._first_oe {
  background: #f1c40f;
}
._first_of {
  background: #81CFE0;
}
._first_og {
  background: #E87E04;
}
._first_oh {
  background: #E87E04;
}
._first_oi {
  background: #81CFE0;
}
._first_oj {
  background: #1abc9c;
}
._first_ok {
  background: #7f8c8d;
}
._first_ol {
  background: #E87E04;
}
._first_om {
  background: #F62459;
}
._first_on {
  background: #d35400;
}
._first_oo {
  background: #9b59b6;
}
._first_op {
  background: #4ECDC4;
}
._first_oq {
  background: #4ECDC4;
}
._first_or {
  background: #f1c40f;
}
._first_os {
  background: #81CFE0;
}
._first_ot {
  background: #E87E04;
}
._first_ou {
  background: #4ECDC4;
}
._first_ov {
  background: #d35400;
}
._first_ow {
  background: #d35400;
}
._first_ox {
  background: #F62459;
}
._first_oy {
  background: #f1c40f;
}
._first_oz {
  background: #2980b9;
}
._first_pa {
  background: #f1c40f;
}
._first_pb {
  background: #81CFE0;
}
._first_pc {
  background: #1abc9c;
}
._first_pd {
  background: #81CFE0;
}
._first_pe {
  background: #E87E04;
}
._first_pf {
  background: #c0392b;
}
._first_pg {
  background: #f1c40f;
}
._first_ph {
  background: #E87E04;
}
._first_pi {
  background: #f1c40f;
}
._first_pj {
  background: #663399;
}
._first_pk {
  background: #663399;
}
._first_pl {
  background: #f1c40f;
}
._first_pm {
  background: #663399;
}
._first_pn {
  background: #1abc9c;
}
._first_po {
  background: #c0392b;
}
._first_pp {
  background: #1abc9c;
}
._first_pq {
  background: #81CFE0;
}
._first_pr {
  background: #663399;
}
._first_ps {
  background: #d35400;
}
._first_pt {
  background: #c0392b;
}
._first_pu {
  background: #F62459;
}
._first_pv {
  background: #F62459;
}
._first_pw {
  background: #d35400;
}
._first_px {
  background: #c0392b;
}
._first_py {
  background: #9b59b6;
}
._first_pz {
  background: #F62459;
}
._first_qa {
  background: #E87E04;
}
._first_qb {
  background: #f1c40f;
}
._first_qc {
  background: #F62459;
}
._first_qd {
  background: #81CFE0;
}
._first_qe {
  background: #F62459;
}
._first_qf {
  background: #d35400;
}
._first_qg {
  background: #c0392b;
}
._first_qh {
  background: #1abc9c;
}
._first_qi {
  background: #c0392b;
}
._first_qj {
  background: #f1c40f;
}
._first_qk {
  background: #f1c40f;
}
._first_ql {
  background: #81CFE0;
}
._first_qm {
  background: #4ECDC4;
}
._first_qn {
  background: #f1c40f;
}
._first_qo {
  background: #F62459;
}
._first_qp {
  background: #c0392b;
}
._first_qq {
  background: #c0392b;
}
._first_qr {
  background: #9b59b6;
}
._first_qs {
  background: #9b59b6;
}
._first_qt {
  background: #1abc9c;
}
._first_qu {
  background: #81CFE0;
}
._first_qv {
  background: #1abc9c;
}
._first_qw {
  background: #F62459;
}
._first_qx {
  background: #f1c40f;
}
._first_qy {
  background: #81CFE0;
}
._first_qz {
  background: #7f8c8d;
}
._first_ra {
  background: #81CFE0;
}
._first_rb {
  background: #1abc9c;
}
._first_rc {
  background: #d35400;
}
._first_rd {
  background: #c0392b;
}
._first_re {
  background: #2980b9;
}
._first_rf {
  background: #4ECDC4;
}
._first_rg {
  background: #81CFE0;
}
._first_rh {
  background: #9b59b6;
}
._first_ri {
  background: #4ECDC4;
}
._first_rj {
  background: #81CFE0;
}
._first_rk {
  background: #F62459;
}
._first_rl {
  background: #F62459;
}
._first_rm {
  background: #663399;
}
._first_rn {
  background: #E87E04;
}
._first_ro {
  background: #81CFE0;
}
._first_rp {
  background: #E87E04;
}
._first_rq {
  background: #f1c40f;
}
._first_rr {
  background: #7f8c8d;
}
._first_rs {
  background: #d35400;
}
._first_rt {
  background: #d35400;
}
._first_ru {
  background: #2980b9;
}
._first_rv {
  background: #F62459;
}
._first_rw {
  background: #2980b9;
}
._first_rx {
  background: #7f8c8d;
}
._first_ry {
  background: #663399;
}
._first_rz {
  background: #7f8c8d;
}
._first_sa {
  background: #F62459;
}
._first_sb {
  background: #d35400;
}
._first_sc {
  background: #7f8c8d;
}
._first_sd {
  background: #663399;
}
._first_se {
  background: #E87E04;
}
._first_sf {
  background: #663399;
}
._first_sg {
  background: #2c3e50;
}
._first_sh {
  background: #9b59b6;
}
._first_si {
  background: #F62459;
}
._first_sj {
  background: #81CFE0;
}
._first_sk {
  background: #c0392b;
}
._first_sl {
  background: #4ECDC4;
}
._first_sm {
  background: #d35400;
}
._first_sn {
  background: #4ECDC4;
}
._first_so {
  background: #7f8c8d;
}
._first_sp {
  background: #4ECDC4;
}
._first_sq {
  background: #2980b9;
}
._first_sr {
  background: #1abc9c;
}
._first_ss {
  background: #d35400;
}
._first_st {
  background: #F62459;
}
._first_su {
  background: #F62459;
}
._first_sv {
  background: #7f8c8d;
}
._first_sw {
  background: #81CFE0;
}
._first_sx {
  background: #F62459;
}
._first_sy {
  background: #E87E04;
}
._first_sz {
  background: #f1c40f;
}
._first_ta {
  background: #663399;
}
._first_tb {
  background: #81CFE0;
}
._first_tc {
  background: #E87E04;
}
._first_td {
  background: #E87E04;
}
._first_te {
  background: #7f8c8d;
}
._first_tf {
  background: #81CFE0;
}
._first_tg {
  background: #1abc9c;
}
._first_th {
  background: #E87E04;
}
._first_ti {
  background: #c0392b;
}
._first_tj {
  background: #4ECDC4;
}
._first_tk {
  background: #E87E04;
}
._first_tl {
  background: #663399;
}
._first_tm {
  background: #81CFE0;
}
._first_tn {
  background: #f1c40f;
}
._first_to {
  background: #d35400;
}
._first_tp {
  background: #7f8c8d;
}
._first_tq {
  background: #1abc9c;
}
._first_tr {
  background: #9b59b6;
}
._first_ts {
  background: #F62459;
}
._first_tt {
  background: #9b59b6;
}
._first_tu {
  background: #d35400;
}
._first_tv {
  background: #f1c40f;
}
._first_tw {
  background: #d35400;
}
._first_tx {
  background: #663399;
}
._first_ty {
  background: #81CFE0;
}
._first_tz {
  background: #c0392b;
}
._first_ua {
  background: #7f8c8d;
}
._first_ub {
  background: #F62459;
}
._first_uc {
  background: #d35400;
}
._first_ud {
  background: #1abc9c;
}
._first_ue {
  background: #c0392b;
}
._first_uf {
  background: #9b59b6;
}
._first_ug {
  background: #F62459;
}
._first_uh {
  background: #2c3e50;
}
._first_ui {
  background: #1abc9c;
}
._first_uj {
  background: #4ECDC4;
}
._first_uk {
  background: #2980b9;
}
._first_ul {
  background: #E87E04;
}
._first_um {
  background: #f1c40f;
}
._first_un {
  background: #9b59b6;
}
._first_uo {
  background: #81CFE0;
}
._first_up {
  background: #1abc9c;
}
._first_uq {
  background: #f1c40f;
}
._first_ur {
  background: #2c3e50;
}
._first_us {
  background: #d35400;
}
._first_ut {
  background: #663399;
}
._first_uu {
  background: #7f8c8d;
}
._first_uv {
  background: #E87E04;
}
._first_uw {
  background: #1abc9c;
}
._first_ux {
  background: #1abc9c;
}
._first_uy {
  background: #663399;
}
._first_uz {
  background: #81CFE0;
}
._first_va {
  background: #9b59b6;
}
._first_vb {
  background: #9b59b6;
}
._first_vc {
  background: #1abc9c;
}
._first_vd {
  background: #7f8c8d;
}
._first_ve {
  background: #2980b9;
}
._first_vf {
  background: #663399;
}
._first_vg {
  background: #1abc9c;
}
._first_vh {
  background: #2980b9;
}
._first_vi {
  background: #f1c40f;
}
._first_vj {
  background: #2980b9;
}
._first_vk {
  background: #F62459;
}
._first_vl {
  background: #9b59b6;
}
._first_vm {
  background: #c0392b;
}
._first_vn {
  background: #2980b9;
}
._first_vo {
  background: #4ECDC4;
}
._first_vp {
  background: #663399;
}
._first_vq {
  background: #2980b9;
}
._first_vr {
  background: #E87E04;
}
._first_vs {
  background: #f1c40f;
}
._first_vt {
  background: #1abc9c;
}
._first_vu {
  background: #81CFE0;
}
._first_vv {
  background: #2980b9;
}
._first_vw {
  background: #c0392b;
}
._first_vx {
  background: #E87E04;
}
._first_vy {
  background: #2c3e50;
}
._first_vz {
  background: #d35400;
}
._first_wa {
  background: #9b59b6;
}
._first_wb {
  background: #d35400;
}
._first_wc {
  background: #f1c40f;
}
._first_wd {
  background: #663399;
}
._first_we {
  background: #d35400;
}
._first_wf {
  background: #c0392b;
}
._first_wg {
  background: #E87E04;
}
._first_wh {
  background: #F62459;
}
._first_wi {
  background: #9b59b6;
}
._first_wj {
  background: #2c3e50;
}
._first_wk {
  background: #f1c40f;
}
._first_wl {
  background: #9b59b6;
}
._first_wm {
  background: #9b59b6;
}
._first_wn {
  background: #81CFE0;
}
._first_wo {
  background: #7f8c8d;
}
._first_wp {
  background: #1abc9c;
}
._first_wq {
  background: #E87E04;
}
._first_wr {
  background: #4ECDC4;
}
._first_ws {
  background: #81CFE0;
}
._first_wt {
  background: #c0392b;
}
._first_wu {
  background: #2c3e50;
}
._first_wv {
  background: #9b59b6;
}
._first_ww {
  background: #1abc9c;
}
._first_wx {
  background: #d35400;
}
._first_wy {
  background: #2c3e50;
}
._first_wz {
  background: #E87E04;
}
._first_xa {
  background: #c0392b;
}
._first_xb {
  background: #c0392b;
}
._first_xc {
  background: #1abc9c;
}
._first_xd {
  background: #d35400;
}
._first_xe {
  background: #f1c40f;
}
._first_xf {
  background: #d35400;
}
._first_xg {
  background: #9b59b6;
}
._first_xh {
  background: #F62459;
}
._first_xi {
  background: #4ECDC4;
}
._first_xj {
  background: #F62459;
}
._first_xk {
  background: #c0392b;
}
._first_xl {
  background: #f1c40f;
}
._first_xm {
  background: #F62459;
}
._first_xn {
  background: #7f8c8d;
}
._first_xo {
  background: #f1c40f;
}
._first_xp {
  background: #7f8c8d;
}
._first_xq {
  background: #2980b9;
}
._first_xr {
  background: #2980b9;
}
._first_xs {
  background: #c0392b;
}
._first_xt {
  background: #E87E04;
}
._first_xu {
  background: #c0392b;
}
._first_xv {
  background: #f1c40f;
}
._first_xw {
  background: #E87E04;
}
._first_xx {
  background: #d35400;
}
._first_xy {
  background: #2c3e50;
}
._first_xz {
  background: #4ECDC4;
}
._first_ya {
  background: #c0392b;
}
._first_yb {
  background: #f1c40f;
}
._first_yc {
  background: #f1c40f;
}
._first_yd {
  background: #81CFE0;
}
._first_ye {
  background: #9b59b6;
}
._first_yf {
  background: #9b59b6;
}
._first_yg {
  background: #F62459;
}
._first_yh {
  background: #F62459;
}
._first_yi {
  background: #9b59b6;
}
._first_yj {
  background: #E87E04;
}
._first_yk {
  background: #7f8c8d;
}
._first_yl {
  background: #F62459;
}
._first_ym {
  background: #81CFE0;
}
._first_yn {
  background: #c0392b;
}
._first_yo {
  background: #2c3e50;
}
._first_yp {
  background: #2980b9;
}
._first_yq {
  background: #f1c40f;
}
._first_yr {
  background: #f1c40f;
}
._first_ys {
  background: #4ECDC4;
}
._first_yt {
  background: #d35400;
}
._first_yu {
  background: #1abc9c;
}
._first_yv {
  background: #4ECDC4;
}
._first_yw {
  background: #E87E04;
}
._first_yx {
  background: #d35400;
}
._first_yy {
  background: #E87E04;
}
._first_yz {
  background: #2980b9;
}
._first_za {
  background: #E87E04;
}
._first_zb {
  background: #2980b9;
}
._first_zc {
  background: #F62459;
}
._first_zd {
  background: #81CFE0;
}
._first_ze {
  background: #F62459;
}
._first_zf {
  background: #9b59b6;
}
._first_zg {
  background: #81CFE0;
}
._first_zh {
  background: #d35400;
}
._first_zi {
  background: #2980b9;
}
._first_zj {
  background: #1abc9c;
}
._first_zk {
  background: #81CFE0;
}
._first_zl {
  background: #2c3e50;
}
._first_zm {
  background: #1abc9c;
}
._first_zn {
  background: #F62459;
}
._first_zo {
  background: #c0392b;
}
._first_zp {
  background: #1abc9c;
}
._first_zq {
  background: #d35400;
}
._first_zr {
  background: #81CFE0;
}
._first_zs {
  background: #2c3e50;
}
._first_zt {
  background: #f1c40f;
}
._first_zu {
  background: #7f8c8d;
}
._first_zv {
  background: #f1c40f;
}
._first_zw {
  background: #663399;
}
._first_zx {
  background: #2c3e50;
}
._first_zy {
  background: #9b59b6;
}
._first_zz {
  background: #f1c40f;
}
