
.photo_battle_holder
{
	height:340px;
	position:relative;	
}

.photo_battle_left
{
	position:absolute;
	left:0px;
}

.photo_battle_center
{
	font-size:22px; 	
	padding:10px 4px 10px 4px; 
	background:#F1F1F1; 
	position:absolute;
	left:46.5%;
	top:30%;
	margin:0px 2px 0px 2px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
  	border-radius:6px;  
}

.photo_battle_right
{
	position:absolute;
	right:0px;
}

#photo_battle_full_mode .photo_battle_holder
{
	background:#fff;
	width:920px;
	height:480px;
	padding:5px;
}

#photo_battle_full_mode .photo_battle_left
{
	left:5px;
}

#photo_battle_full_mode .photo_battle_right
{
	right:5px;
}

#photo_battl_full_close a,
#photo_battl_full_close a:hover
{
	position:absolute;
	bottom:0px;
	right:0px;
	line-height:28px;
	padding:0px 8px 0px 8px;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	z-index:5001;
	display:block;	
	background:#333;
	color:#fff;	
}

#photo_battle_full_mode #photo_battl_full_close a,
#photo_battle_full_mode #photo_battl_full_close a:hover
{
	bottom:14px;
	right:14px;	
}