
.photo_set_cover_small
{
    background-repeat: no-repeat;
    background-position: center center;
    
    min-height:30px;
    display:block;
    background-size:cover;
}

.photo_row_small
{
    min-height: 150px;
    margin: 0px 18px 10px 0px;
}