.photo_hover_info
{
    color: #FFFFFF;
    left: 0;
    position: absolute;
    /*top: -48px;*/
    bottom: 4px;
    width: 190px;
    display:none;
    z-index:10;
    overflow:hidden;
}

.photo_hover_info_album_title a,
.photo_hover_info_album_title a:hover
{
	color:#CFCFCF;
}

.photo_hover_info img.bg
{
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left: 0;
    z-index:-1;
}

.photo_hover_info div
{
    z-index:11;
}

.photo_hover_info_album_title
{
    height: 30px;
    text-align: left;
	padding:5px;
}

.photo_hover_info_actions
{
    border-top: 1px solid #8F8F8F;
    margin-top: 10px;
    color: #FFFFFF;
    font-weight: bold;    
    position:relative;
	padding:5px;
}

.photo_hover_info_actions_do
{
    text-align: left;
}

.photo_hover_info_actions_counter
{
    position:absolute;
	right:5px;
	top:2px;
}

.photo_hover_info_actions_do a
{
    color: #FFFFFF;
}

.photo_row, .photo_holder
{
    /* 13127
    width: 150px;
    height: 150px;*/
    margin: 3px;
}

.photo_row_holder
{
    min-height: 196px;
}

.photo_row_small .image_hover_holder
{
    height:150px;
    width:100%;
}

.pager_view_more_link a, .pager_view_more_link a:hover
{
    text-align: center;
}
.pager_view_more_link a span
{
    position: absolute;
}
div.video_moderate_link
{
    bottom:4px;
}

.photo_row .image_hover_menu_link
{
	top:4px;
	right:8px;
	height:22px;
}

.photo_row .video_moderate_link
{
	top:0px;
}

.photo_row .image_hover_menu
{
	top:4px;
	right:30px;
}

.js_like_counter img
{
	vertical-align:bottom;
}

div#js_album_content div.photos_container_row div.photo_row_dynamic_view div.photo_row_holder
{
    display: block;
}

div#js_album_content div.photos_container_row div.photos_per_page_5
{
    width: 190px;
    height: 190px;
}
