.photo_view_box_image_holder .photo_holder_image #js_photo_view_image
{
    max-height: 100%;
}
#js_album_content
{
    text-align: center;
}



.photos_container_row
{
    margin-left: auto;
    margin-right: auto;
}
div.comment_mini
{
    text-align:left;
}



.photo_row_dynamic_view
{
    width:190px;
    height: 190px;
    padding-top: 0px;
}
.photo_row_height_dynamic_view
{
    height: 190px;
    width: 190px;
}

/* When viewing an album we can fit 5 if we change the width a little bit */
div#js_album_content div.photos_container_row .photo_row_dynamic_view
{
    width: 196px;
    margin-bottom: 2px;
}
