
.app-block {
	background:@blockBg;
	color:@blockColor;
}

.app-block-padding {
	padding:@blockContentPadding;
}

.app-block-border {
	border:1px darken(@blockBg, 5%) solid;
}

.app-block-border-color {
	border-color:darken(@blockBg, 5%);
}

.app-form {
	background:@formBg;
	color:@formColor;
}
