
.no_image_user, .no_image_user:hover {
	display:inline-block;
	background:darken(@blockBg, 6%);
	color:@blockColor;
	position:relative;

	> span {
		display:block;
		position:absolute;
		top:30px;
		left:0px;
		right:0px;
		text-align:center;
		font-size:20px;
		text-transform:uppercase;
		letter-spacing:2px;
		font-weight:300;
	}
}

._size__50, ._size__50:hover {
	width:50px;
	height:50px;

	> span {
		top:10px;
		left:2px;
	}
}

._size__120, ._size__120:hover {
	width:120px;
	height:120px;
}

.noimage(@letter, @bg, @color: #fff) {
	._first_@{letter}, ._first_@{letter}:hover {
		background:@bg;
		color:@color;
	}
}

.noimage(a, #1abc9c);
.noimage(s, #3498db);
.noimage(t, #95a5a6);
.noimage(b, #d35400);