
#js_progress_outer
{
	border:2px solid #E14696;
	background:#3366CC;
	display:none;
}

#js_progress_inner
{
	position:relative;
	background-color:#3399FF;
	width:0%;
	color:#FFFFFF;
	font-weight:bold;
	padding:5px;
}

.js_progress_bar
{
	background-color: #3fb230;
	z-index: 1;
	position: absolute;
	height: 20px;
}

.js_progress_container
{
	text-align: center;
	z-index: 2;
	position: absolute;
	width: 100%;
}

.converting_background
{
	background-color: #abb646;
	position: absolute;
	width: 100%;
	z-index: 1;
	margin-top: 3px;
}


.status_text
{
	position: absolute;
	margin-left:20%;
	z-index: 3;
}

.js_progress_item
{
	margin-bottom: 5px;
}

#js_progress_bar
{	
	position: relative;
}

.js_tmp_upload_bar
{
    width:300px;
    height:30px;
    line-height:30px;
    border:1px #008C00 solid;
    position:relative;
    margin-bottom:5px;
}

.js_tmp_upload_bar_content
{
    position:absolute;
    height:30px;
    line-height:30px;
    top:0px;
    left:10px;
    z-index:2;
}

.js_tmp_upload_bar_upload
{
    position:absolute;
    height:30px;
    line-height:30px;
    top:0px;
    left:0px;
    background:#CDEB8B;
    display:none;
    z-index:1;
    width:0%;
}