
.profile_header
{
	font-size:14pt;
	color:#195B85;
	margin:0px;
	border-bottom:1px #DFDFDF solid;
	padding:0px 0px 2px 10px;
    position:relative;
}

img.profile_image
{
    position:absolute; right:0; margin-right:5px; margin-top:5px;
}

.profile_header a
{
	color:#195B85;
	text-decoration:none;
}

.profile_header a:hover
{
	color:#195B85;
	text-decoration:underline;
}

#profile_menu
{
	margin:0;
	padding:0;
	height: 40px;
	font-size:11pt;
}

#profile_menu ul
{
	border: 0;
	margin:0px 0px 0px 5px;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#profile_menu ul li
{
	display: block;
	float: left;
	text-align: center;
	padding: 0;
	margin: 0;
}

#profile_menu ul li a
{
	padding:2px 6px 2px 6px;
	margin:0px 0px 10px 5px;
	color:#000;
	text-decoration: none;
	display: block;
	text-align: center;
	border:1px #E4E4E3 solid;
	background:#F5F5F5;
	font-size:11pt;
	border-top:none;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;  		
}

#profile_menu ul li a:hover, #profile_menu ul li.active a
{
	background:#fff;
}

#profile_nav_list
{
	border:1px #ccc solid;
	border-top:5px #195B85 solid;
	margin-bottom:20px;
	position:relative;
	background:#E9F4FA;
}

#profile_nav_list ul
{
	margin:5px 10px 5px 10px;
	padding:0px;
}

#profile_nav_list li
{
	display:inline;
}

#profile_nav_list li a
{
	border-top:1px #CECECE solid;
	display:block;
	padding:5px;
	text-decoration:none;
	color:#63ACE1;
	font-weight:bold;
	width:96%;
}

#profile_nav_list li a:hover
{
	color:#2E9AE4;
	background:#fff;
	color:#63ACE1;
	font-weight:bold;
	text-decoration:none;
}

#profile_nav_list li a.first
{
	border-top:none;
}

div#content
{
	margin-top:0px;
	padding-top:0px;
}

.profile_online_status
{
	font-size:9pt; color:#68D878; font-weight:bold; padding:0px 0px 0px 4px;
}