.tip
{
	background:#FEFBD9;
	padding:8px;
	border:1px #EEE9B5 solid;
	margin-top:8px;
	margin-bottom:8px;
}

.sortable
{
	/*width: 400px;*/
}

.placeholder
{
	margin-bottom:5px;
}
	
.sortingArrows
{
	cursor:move;
}

.js_prev_block
{
	padding:0px 0px 5px 0px;
}

.js_prev_block:hover
{
	background:#f1f1f1;
	padding:0px 0px 5px 0px;
}

.js_prev_block img
{
	padding-right:5px;
	padding-left:5px;
	vertical-align:middle;
}