
#page_pages_add {
	#js_pages_add_holder {
		> .extra_info, > form > strong, > form > select {
			display:none;
		}
	}

	.pages_type_add_form_input input.button {
		margin-top:40px;
	}

	input.pages_type_add_input {
		width:100%;
	}

	.pages_type_add_holder {
		text-align:left;
		background:@blockBg;
		color:@blockColor;
		border-bottom:1px darken(@blockBg, 5%) solid;
	}

	a.pages_type_add_inner_link, a.pages_type_add_inner_link:hover {
		text-align:left;
		display:block;
		padding:@blockContentPadding;
		background:@blockBg;
		color:@blockColor;
	}

	a.pages_type_add_inner_link:hover {
		background:darken(@blockBg, 2%);
		color:darken(@blockColor, 5%);
	}

	.pages_type_add_form {
		padding:10px;
		background:#0c0c0c;
		color:#808080 !important;
	}

	#js_pages_block_info {
		background:@blockBg;
		padding:10px;

		div.table_clear {
			padding-top:10px;
		}
	}
}