
.report_this_item {
	height:auto;
	margin-top:20px;
	position:relative;
}

a.item_bar_flag:before {
	.fa('\f024');
	position:absolute;
	left:0px;
	top:4px;
}

a.item_bar_flag:hover:before {
	color:#c0392b;
	transition:@transition;
}

a.item_bar_flag, a.item_bar_flag:hover {
	color:darken(@blockBg, 30%);
}

a.item_bar_flag:hover {
	color:darken(@blockBg, 50%);
	transition:@transition;
}