
.notification_holder
{
	margin:0px;
	padding:0px;
}

.notification_holder li
{
	margin-bottom:10px;
}

.notification_date
{
	font-weight:bold;
	text-transform:uppercase;
	color:#808080;
}

.is_new
{
	background:#FFFFDF;
}

.notification_delete
{
	display:none;
}