
.marketplace_image_holder
{
	padding-bottom:20px;
}

.marketplace_image
{
	text-align:center;	
}

.marketplace_image_extra
{
	padding-top:5px;
	text-align:center;
}

.marketplace_image_extra ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

.marketplace_image_extra ul li
{
	float:left;
	padding-right:5px;
}

.marketplace_image_extra img
{
	border:1px #DFDFDF solid;
	background:#fff;	
}

.marketplace_view_image
{
	padding:5px 0px 0px 0px;	
	text-align:center;
}

.marketplace_view_image a,
.marketplace_view_image a:hover
{
	color:#808080;
}

.marketplace_price_holder
{
	text-align:center;
	font-size:16px;
	font-weight:bold;
	background:#CDEB8B;
	color:#333;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
  	border-radius:6px;	
	padding:10px;
}

.marketplace_price_holder_button
{
	/*padding:10px 0px 0px 0px;*/
}

a.marketplace_contact_seller,
a.marketplace_contact_seller:hover
{
	display:block;
	line-height:30px;
	background:#6BBA70;
	color:#fff;
	font-weight:bold;
	margin:10px 0px 10px 0px;
	text-align:center;
	-moz-border-radius:6px;
	text-decoration:none;
	font-size:12px;
}