#js_upload_image_holder_frame
{
	 position: absolute; 
	 z-index:999; 
	 border: 1px solid black;
	 padding: 10px;
	 left: 300px;
	 top: 250px;
	 display: none;
}

#upload_ad_iframe, .select_child_country, .tbl_province
{
	display: none;
}

#js_sample_multi_ad_holder
{
	border:1px solid #dfdfdf;
	width:280px;
    position:absolute;
    right:0px;
    top:50px;
    background:#fff;
    padding:10px;
}

.ad_unit_holder_title
{
	background: #f2f2f2;
	color:#9F9F9F;
	text-align: center;
    padding:10px;
    font-size:14px;
    font-weight:bold;
    margin-bottom:10px;
}
