#searchResults
{
	margin-top: 15px;
}

.inactive_user
{
	clear: both;
	border-style: solid solid none;
	border-width: 1px 1px medium;
	border-color: #DFE4EE;
}
.user_count
{
	float: left;
	width: 25%;
	text-align: center;
}
.user_name
{
	float: left;
	width: 25%;
	text-align: center;
}
.last_logged
{
	float: left;
	width: 25%;
	text-align: center;
}
.status
{
	float: left;
	width: 25%;
	text-align: center;
}
.inactive_header
{
	font-weight: bold;
}

.not_found
{
	text-align:center;
}

#btnStop
{
	display: none;
}