
#welcome {
	padding:0px;
	margin-bottom:20px;
}

.blog-category {
	padding:10px;
	font-size:@fontSizeBase - 3;
	color:@blockColor;
	display:inline-block;
	background:darken(@blockBg, 4%);
	margin:0px 0px 10px 10px;

	a {
		color:@blockColor;
	}
}