#egift_display
{
	text-align: center;
	overflow: hidden;
}
/* Holder */
#egift_menu
{
	margin-left: 25%;
	width: 100%;
	overflow:hidden;
	
}
/* Each menu item */
.egift_menu
{
	float: left;
	right: 50%;
	width: 20%;
}
.egift_category
{
	display:none;
}

.egift_item
{
	float: left;
	width: 85px;
	text-align: center;	
	margin-bottom:10px;
	margin-right:2px;
	padding:2px 0px 2px 0px;	
	border:1px transparent solid;
}

.egift_item:hover
{
	background:#fff;
	border:1px #ccc solid;
}

.egift_item_with_price
{
	height: 155px;
}
.egift_menu_active
{
	background-color:#01AEEE;
}

.eGiftHighlight,
.eGiftHighlight:hover
{
	background-color:#CDEB8B;
}

.egift_wrapper
{
	position:relative;
	margin-top:15px;
}

.egift_selection
{
	height:120px; 
	margin-top:10px; 
	background:#fff;
	overflow:auto;
	padding:5px 0px 5px 0px;
	border:1px #dfdfdf solid;
}

.egift_selector
{
	position:absolute;
	right:2px;
	top:-5px;
}

.egift_selector_timeline
{
	position:absolute;
	right:2px;
	top:5px;
}
