
ul.event_rsvp_invite
{
	margin:5px 0px 0px 0px;
	padding:0px;
	list-style-type:inline;
}

ul.event_rsvp_invite li
{
	display:inline;
	padding-right:3px;
}

.event_rsvp_invite_image
{
	margin:5px 0px 0px 0px;
	display:none;
}